// Font.
$font-family: 'Source Sans Pro', sans-serif;
$font-color: #293845;
$font-color-primary: $font-color;
$font-color-secondary: #788896;

// Colors.
$color-background: #fff;
$color-background-header: #eceff3;
$color-primary: #6558f5;
$color-secondary: #788896;
$color-accent: #bf3ad2;
$color-danger: #d3455b;
$color-success: #1aae9f;
$color-warning: #e8833b;
$color-info: #fbe192;

$color-link: $color-primary;

// Radius.
$radius: 4px;
